@using DA_DataAccess.CharacterClasses
@inject AuthenticationStateProvider GetAuthenticationStateAsync
<div class="traits">

    <SfDialog Width="50%" Height="50%" @bind-Visible="@_customTraitModel.IsVisible" IsModal="true" AllowDragging="true" CloseOnEscape="false" EnableResize="true">
        <DialogEvents Opened="@DialogOpen"></DialogEvents>
        <DialogTemplates>
            <Header>Create a new Trait</Header>
            <Content>
                 <div class="main-table">

                    @if (IsLoading)
                    {
                        <div class="text-center">
                            <img src="/images/loading.gif">
                        </div>
                    }
                    else
                    {
                        <div class="d-flex ">
                            <div class="d-flex flex-column flex-grow-1">
                            <label class="fw-bold py-1">Trait name</label>
                                <SfTextBox Placeholder="Insert trait name" @bind-Value="@_customTraitModel.TraitDTO.Name"></SfTextBox>
                            </div>
                            @if (TraitType == SD.TraitType_Advantage)
                            {
                                <div class="d-flex flex-column px-1">
                                    <label class="fw-bold py-1">Trait value</label>
                                    <SfNumericTextBox Width="100px" TValue="int" @bind-Value="@_customTraitModel.TraitDTO.TraitValue"></SfNumericTextBox>
                                </div>
                                <div class="d-flex flex-column px-1">
                                    <label class="fw-bold py-1">Unique</label>
                                    <div class="justify-content-center mx-auto my-auto">
                                        <SfCheckBox @bind-Checked="_customTraitModel.TraitDTO.IsUnique "></SfCheckBox>
                                    </div>
                                </div>
                            }
                            @if (AllParams.IsAdminOrMG)
                            {
                            <div class="d-flex flex-column px-1">
                                <label class="fw-bold py-1">Approve</label>
                                <div class="justify-content-center mx-auto my-auto">
                                        <SfCheckBox @bind-Checked="_customTraitModel.TraitDTO.TraitApproved"></SfCheckBox>
                                </div>
                            </div>
                            }
                        </div>
                        <div class="align-items-start bonus-name py-0">
                            <label class="fw-bold  py-1">Trait description</label>
                        </div>
                        <div class="align-items-start">
                            <div class="col-12 bonus-name py-0">
                                <SfTextBox Multiline=true Placeholder="Insert general trait description" @bind-Value="@_customTraitModel.TraitDTO.Descr"></SfTextBox>
                            </div>
                        </div>
                        
                        <label class="fw-bold pt-4">Bonuses and penalties</label>
                        @if (_customTraitModel.TraitDTO.Bonuses != null)
                        {
                            @foreach (var obj in _customTraitModel.TraitDTO.Bonuses)
                            {
                                <label class="bonus-cell">Bonus @obj.Index</label>
                                <div class="bonuses-columns">
                                        <div class="bonus-cell">
                                        <SfDropDownList TValue="string" TItem=string Width="100%" Placeholder="Select a feature type" DataSource="@FeatureData" @bind-Value="@obj.FeatureType"></SfDropDownList>
                                        </div>
                                    @if (obj.FeatureType == SD.FeatureAttribute)
                                    {
                                        <div class="bonus-cell">
                                            <SfDropDownList TValue="string" TItem="AttributeDTO" Width="100%" Placeholder="Select an Attribute " DataSource="@AllParams.Attributes" @bind-Value="@obj.FeatureName">
                                                <DropDownListFieldSettings Value="Name"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </div>
                                    }
                                    else if (obj.FeatureType == SD.FeatureBaseSkill)
                                    {
                                        <div class="bonus-cell">
                                            <SfDropDownList TValue="string" TItem="BaseSkillDTO" Width="100%" Placeholder="Select base skill " DataSource="@AllParams.BaseSkills" @bind-Value="@obj.FeatureName">
                                                <DropDownListFieldSettings Value="Name"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </div>
                                    }
                                    else if (obj.FeatureType == SD.FeatureSpecialSkill)
                                    {
                                        <div class="bonus-cell">
                                            <SfDropDownList TValue="string" TItem="SpecialSkillDTO" Width="100%" Placeholder="Select special skill " DataSource="@AllParams.SpecialSkills" @bind-Value="@obj.FeatureName">
                                                <DropDownListFieldSettings Value="Name"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </div>
                                    }
                                    else if (obj.FeatureType == SD.FeatureWeaponQuality)
                                    {
                                        <div class="bonus-cell">
                                            <SfDropDownList TValue="string" TItem="WeaponQualityList" Width="100%" Placeholder="Select special skill " DataSource="@LocalData" @bind-Value="@obj.FeatureName">
                                                <DropDownListFieldSettings Value="Id" Text="Id"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </div>
                                    }
                                    else if(obj.FeatureType == SD.FeatureOther)
                                    {
                                        <div class="bonus-double-cell">
                                            <SfTextBox Multiline=true Placeholder="Insert bonus description" @bind-Value="@obj.Description"></SfTextBox>

                                        </div>
                                    }
                                    @if (@obj.FeatureName != null && @obj.FeatureType != SD.FeatureOther)
                                    {
                                        if (obj.FeatureType == SD.FeatureWeaponQuality)
                                        {
                                            <div class="bonus-cell">
                                                <SfNumericTextBox Width="100%" TValue="int" @bind-Value="@obj.BonusValue"></SfNumericTextBox>
                                            </div>
                                        }
                                        else
                                        {

                                            <div class="bonus-cell">
                                                <SfNumericTextBox Width="100%" TValue="int" @bind-Value="@obj.BonusValue"></SfNumericTextBox>
                                            </div>
                                        }
                                    }

                                </div>
                            }
                        }
                        <button class="add-bonus-button" @onclick="OnAddBonusBtnClick"><i class="fa-solid fa-plus"></i></button>
                    <label class="warnign-message">@ErrorMessage</label>
                    } 
                </div> 

            </Content>
        </DialogTemplates>
        <DialogButtons>

            <DialogButton OnClick="@OnCancelBtnClick" Content="Cancel">
            </DialogButton>
            <DialogButton OnClick="@OnSaveTraitBtnClick" Content="Save" IsPrimary="true">
            </DialogButton>
        </DialogButtons>
    </SfDialog>

</div>

<style>
    @@media (max-width: 400px) {
        .e-dialog.e-popup {
            width: 100% !important;
            height: 100% !important;
        }
    }
</style>

@code {
    [CascadingParameter]
    public AllParamsModel AllParams { get; set; }

    [Parameter]
    public EventCallback<CustomTraitModel> CustomTraitModelChanged { get; set; }
    [Parameter]
    public string TraitType { get; set; }

    CustomTraitModel _customTraitModel;

    [Parameter]
    public CustomTraitModel CustomTraitModel
    {
        get => _customTraitModel;
        set{
            if (_customTraitModel == value) return;
            _customTraitModel = value;
            IsLoading = false;
            StateHasChanged();
            CustomTraitModelChanged.InvokeAsync(value);
        }
    }

    
    public class WeaponQualityList
    {
        public string Id { get; set; }
    };
    List<WeaponQualityList> LocalData = new List<WeaponQualityList> {
        new WeaponQualityList() { Id= SD.WeaponQuality_Fast },
        new WeaponQualityList() { Id= SD.WeaponQuality_Slow },
        new WeaponQualityList() { Id= SD.WeaponQuality_Parrying },
        new WeaponQualityList() { Id= SD.WeaponQuality_ShieldDestructive },
        new WeaponQualityList() { Id= SD.WeaponQuality_ArmorPiercing},
        new WeaponQualityList() { Id= SD.WeaponQuality_Long},
        new WeaponQualityList() { Id= SD.WeaponQuality_Heavy},
        new WeaponQualityList() { Id= SD.WeaponQuality_Devastating},
        new WeaponQualityList() { Id= SD.WeaponQuality_Weak },
        new WeaponQualityList() { Id= SD.WeaponQuality_Stunning},
        new WeaponQualityList() { Id= SD.WeaponQuality_Snatching},
        new WeaponQualityList() { Id= SD.WeaponQuality_Armor},
        new WeaponQualityList() { Id= SD.WeaponQuality_ArmorDefenceBonus},
        new WeaponQualityList() { Id= SD.WeaponQuality_ArmorBane},
        new WeaponQualityList() { Id= SD.WeaponQuality_Durability},
        new WeaponQualityList() { Id= SD.WeaponQuality_ShieldDefenceBonus},
        new WeaponQualityList() { Id= SD.WeaponQuality_Bulky},
        new WeaponQualityList() { Id= SD.WeaponQuality_Precise},
        new WeaponQualityList() { Id= SD.WeaponQuality_Range},
        new WeaponQualityList() { Id= SD.WeaponQuality_Ligh},
      };



    private string ErrorMessage { get; set; } = string.Empty;
    private bool IsLoading { get; set; }= true;

    List<string> FeatureData = new List<string>
    {
        SD.FeatureAttribute,
        SD.FeatureBaseSkill,
        SD.FeatureSpecialSkill,
        SD.FeatureWeaponQuality,
        SD.FeatureOther
    };


    private async Task OnSaveTraitBtnClick()
    {

        if (CustomTraitModel.TraitDTO.Bonuses == null || CustomTraitModel.TraitDTO.Bonuses.Count == 0)
        {
            ErrorMessage = $"There must be at least one bonus in trait";
            return;
        }
        foreach (var bonus in CustomTraitModel.TraitDTO.Bonuses)
        {
            if (bonus.BonusValue == 0 && bonus.Description==string.Empty)
            {
                ErrorMessage = $"Please fill all input fiels in bonus";
                return;
            }
            if (bonus.BonusValue == 0 && bonus.Description == string.Empty)
            {
                ErrorMessage = $"Please fill all input fiels in bonus";
                return;
            }
        }
        if (!CustomTraitModel.TraitDTO.Bonuses.GroupBy(x => x.FeatureName).All(g => g.Count() == 1))
        {
            ErrorMessage = $"Bonuses cannot relate to the same feature more than once";
            return;
        }
        if (string.IsNullOrEmpty(CustomTraitModel.TraitDTO.Name) || string.IsNullOrEmpty(CustomTraitModel.TraitDTO.Descr))
        {
            ErrorMessage = $"Create name and description of trait";
            return;
        }
        if (CustomTraitModel.IsEditMode == false && AllParams.Traits.Where(t => t.Name == CustomTraitModel.TraitDTO.Name).Count() > 0)
        {
            ErrorMessage = $"That trait name already exists";
            return;
        }
        

        ErrorMessage = string.Empty;

        CustomTraitModel.IsVisible = false;
        CustomTraitModel.TraitDTO.SummaryDescr = CustomTraitModel.TraitDTO.Descr + ". ";

        foreach (var bonus in CustomTraitModel.TraitDTO.Bonuses)
        {

            if (bonus.Description != null && bonus.Description.Length > 0)
            {
                CustomTraitModel.TraitDTO.SummaryDescr += bonus.Description + ", ";
            }
            else
            {
                string val;
                if (bonus.BonusValue > 0)
                    val = $"+{bonus.BonusValue}";
                else
                    val = $"{bonus.BonusValue}";
                CustomTraitModel.TraitDTO.SummaryDescr += $"{val} to {bonus.FeatureName}; ";
            }

        }

        CustomTraitModel.TraitDTO.TraitType = TraitType;
        
        await CustomTraitModelChanged.InvokeAsync(CustomTraitModel);
    }
    private async Task OnCancelBtnClick()
    {
        CustomTraitModel.IsVisible = false;
    }

    private async Task DialogOpen()
    {
             
        ErrorMessage = string.Empty;
        StateHasChanged();
    }
    private async Task OnAddBonusBtnClick()
    {
        ErrorMessage = string.Empty;
        if (CustomTraitModel.TraitDTO.Bonuses == null)
            CustomTraitModel.TraitDTO.Bonuses = new List<BonusDTO>();
        var bonus = new BonusDTO();
        bonus.Index = CustomTraitModel.TraitDTO.Bonuses.Count() + 1;
        CustomTraitModel.TraitDTO.Bonuses.Add(bonus);
    }


    // private void OnStartTraitDialog()
    // {
    //     IsTraitDialVisible = true;
    // }

}
