@inject IEquipmentRepository _equipmentRepository
<div class="equipment">

    <SfDialog Width="50%" Height="50%" @bind-Visible="@_equipmentChosen.IsVisible" IsModal="true" AllowDragging="true" CloseOnEscape="false" EnableResize="true">
        <DialogEvents Opened="@DialogOpen"></DialogEvents>
        <DialogTemplates>
            <Header>Choose one or more from existing items</Header>
            <Content>
                 <div class="main-table">

                    @if (IsLoading)
                    {
                        <LoadingPage></LoadingPage>
                    }
                    else
                    {
                        <SfGrid DataSource="@Equipment" @ref="Grid" AllowSelection="true" AllowFiltering="true" AllowPaging="true" Width="100%" Height="100%">
                             <GridPageSettings PageSize="10"></GridPageSettings>
                            <GridFilterSettings ImmediateModeDelay=500 Mode="FilterBarMode.Immediate" Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings> 
                            <GridSelectionSettings CheckboxOnly="true" PersistSelection="true"></GridSelectionSettings>
                            <GridColumns>
                                <GridColumn Type="ColumnType.CheckBox" Width="20"></GridColumn>
                                <GridColumn Field=@nameof(EquipmentDTO.Name) HeaderText="Name" FilterSettings="FilterSettings" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="80"></GridColumn>
                                <GridColumn Field=@nameof(EquipmentDTO.EquipmentType) HeaderText="Type" FilterSettings="FilterSettings" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="60"></GridColumn>
                                <GridColumn Field=@nameof(EquipmentDTO.Description) HeaderText="Description" FilterSettings="FilterSettings" Width="300"></GridColumn>
                            </GridColumns>
                        </SfGrid>
                    } 
                </div> 

            </Content>
        </DialogTemplates>
        <DialogButtons>

            <DialogButton OnClick="@OnCancelBtnClick" Content="Cancel">
            </DialogButton>
            <DialogButton OnClick="@OnSaveBtnClick" Content="Save" IsPrimary="true">
            </DialogButton>
        </DialogButtons>
    </SfDialog>

</div>

<style>
    @@media (max-width: 400px) {
        .e-dialog.e-popup{
            width: 100% !important;
            height: 100% !important;
        }
    }
</style>

@code {

    [Parameter]
    public EventCallback<EquipmentChosenModel> EquipmentChosenChanged { get; set; }

    private EquipmentChosenModel _equipmentChosen = new();

    [Parameter]
    public EquipmentChosenModel EquipmentChosen
    {
        get => _equipmentChosen;
        set{
            if (_equipmentChosen == value) return;
            _equipmentChosen = value;
            IsLoading = false;
            StateHasChanged();
            EquipmentChosenChanged.InvokeAsync(value);
        }
    }

    private IEnumerable<EquipmentDTO> Equipment { get; set; }
    SfGrid<EquipmentDTO> Grid = new SfGrid<EquipmentDTO>();

    FilterSettings FilterSettings = new FilterSettings { Operator = Syncfusion.Blazor.Operator.Contains, Type = Syncfusion.Blazor.Grids.FilterType.FilterBar};

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        Equipment = await _equipmentRepository.GetAllApproved();
    }

    private string ErrorMessage { get; set; } = string.Empty;
    private bool IsLoading { get; set; }= true;


    private async Task OnSaveBtnClick()
    {

        EquipmentChosen.EquipmentChosen = Grid.SelectedRecords;
        ErrorMessage = string.Empty;

        EquipmentChosen.IsVisible = false;


        await EquipmentChosenChanged.InvokeAsync(EquipmentChosen);
    }
    private async Task OnCancelBtnClick()
    {
        EquipmentChosen.IsVisible = false;
    }
    private void DialogOpen()
    {
        ErrorMessage = string.Empty;
        StateHasChanged();
    }
    // private async Task OnAddBonusBtnClick()
    // {
    //     ErrorMessage = string.Empty;
    //     if (TraitComp.TraitDTO.Bonuses == null)
    //         TraitComp.TraitDTO.Bonuses = new List<BonusDTO>();
    //     var bonus = new BonusDTO();
    //     bonus.Index = TraitComp.TraitDTO.Bonuses.Count() +1;
    //     TraitComp.TraitDTO.Bonuses.Add(bonus);
    // }


    // private void OnStartTraitDialog()
    // {
    //     IsTraitDialVisible = true;
    // }

}
