@inject ITraitRepository<TraitAdvDTO> _traitAdvRepository
@inject ITraitRepository<TraitRaceDTO> _traitRaceRepository
<div class="traits">
    <div class="table-container">
    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col" class="name-row">Name</th>
                <th scope="col" class="description-row">Description</th>
                @if (TraitType == SD.TraitType_Advantage)
                {
                    <th scope="col" class="trait-value-row text-center">Value</th>
                }
                <th scope="col" class="action-row text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var obj in Traits)
            {
                <tr>
                    <td>
                        <label class="name-label">@obj.Name</label>
                    </td>
                    <td>
                        <label class="name-label">@obj.SummaryDescr</label>
                    </td>
                    @if (TraitType == SD.TraitType_Advantage)
                    {
                        <td class="text-center">
                            <label class="name-label text-center">@obj.TraitValue</label>
                        </td>
                    }
                    <td>
                        <div class="row m-0">
                             <button @onclick="@(()=>EditTrait(obj))" class="col btn-small"><i class="fa-solid fa-pencil"></i></button>
                             <button @onclick="@(()=>DeleteTrait(obj))" class="col btn-small"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <div class="row">
        @if (TraitType==SD.TraitType_Advantage)
        {
            <label class="balance">Traits balance: @AllParams.Character.TraitBalance </label>
        }
        <div class="buttons-row">
            <button @onclick="@(()=>AddCustomTrait())" class="add-trait">Add new</button>
            <button @onclick="@(()=>AddExistingTrait())" class="add-trait">Existing traits</button>
        </div>
    </div>

    @if (CustomTraitComponent != null)
    {
        <CustomTraitDialog @bind-CustomTraitModel="@CustomTraitComponent" TraitType="@TraitType"></CustomTraitDialog>
    }
    @if (TraitsChosen != null)
    {
        <ExistingTraitsDialog @bind-TraitsChosen="@TraitsChosen"></ExistingTraitsDialog>
    }
</div>

@code {

    [Parameter]
    public ICollection<TraitDTO> Traits { get; set; } = null;
    [Parameter]
    public EventCallback<ICollection<TraitDTO>> TraitsChanged { get; set; }

    [CascadingParameter]
    public AllParamsModel AllParams { get; set; }

    [Parameter]
    public string TraitType { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnTraitsChange { get; set; }


    private CustomTraitModel _customTraitComponent = new();
    private CustomTraitModel CustomTraitComponent
    {
        get => _customTraitComponent;
        set
        {
            if (value.TraitDTO != null)
            {
                var obj = Traits.FirstOrDefault(u => u.Name == value.TraitDTO.Name);
                if (obj == null)
                {
                    Traits.Add(value.TraitDTO);

                }
                else
                {
                    obj = value.TraitDTO;
                }

                TraitsChanged.InvokeAsync(Traits);
                OnTraitsChange.InvokeAsync();
                CalculateTraitBalance();
            }
            if (_customTraitComponent == value) return;
            _customTraitComponent = value;
        }
    }

    private TraitsChosenModel _traitsChosen;
    private TraitsChosenModel TraitsChosen
    {
        get => _traitsChosen;
        set
        {
            if (value.TraitsChosen != null && value.TraitsChosen.Count() > 0)
            {
                foreach (var trait in value.TraitsChosen)
                {
                    if (Traits.FirstOrDefault(u => u.Name == trait.Name) == null)
                    {
                        Traits.Add(trait);
                    }
                }
                TraitsChanged.InvokeAsync(Traits);
                OnTraitsChange.InvokeAsync();
                CalculateTraitBalance();
            }
            if (_traitsChosen == value) return;
            _traitsChosen = value;
        }
    }

    private async Task AddCustomTrait()
    {
        CustomTraitComponent.TraitDTO = new();
        CustomTraitComponent.IsVisible = true;
        CustomTraitComponent.IsEditMode = false;
        //CalculateTraitBalance();
    }
    private async Task AddExistingTrait()
    {
        TraitsChosen = new();
        TraitsChosen.IsVisible = true;
        TraitsChosen.TraitType = TraitType;
        //CalculateTraitBalance();
    }

    private async Task EditTrait(TraitDTO trait)
    {
        CustomTraitComponent.TraitDTO = trait;
        CustomTraitComponent.IsVisible = true;
        CustomTraitComponent.IsEditMode = true;
        CalculateTraitBalance();
    }

    private async Task CalculateTraitBalance()
    {
        AllParams.Character.TraitBalance = 0;
        foreach (var trait in Traits)
        {
            AllParams.Character.TraitBalance += trait.TraitValue;
        }
        StateHasChanged();
    }

    private async Task DeleteTrait(TraitDTO trait)
    {
        if (trait.Id != 0)
        {

            if (trait.TraitType == SD.TraitType_Advantage && trait.TraitApproved ==false)
            {
                await _traitAdvRepository.Delete(trait.Id);

            }
            else if (trait.TraitType == SD.TraitType_Race && trait.TraitApproved == false)
            {
                await _traitRaceRepository.Delete(trait.Id);
            }

        }
        Traits = Traits.Where(u => u.Name != trait.Name).ToList();
        await TraitsChanged.InvokeAsync(Traits);
        CalculateTraitBalance();
    }
}
