@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager _navigationManager
@inject ISnackbar _snackBar

@inject IJSRuntime _jsRuntime
@inject IChatManager _chatManager
@inject AuthenticationStateProvider _stateProvider;
@inherits LayoutComponentBase

<PageTitle>DagoniteEmpire</PageTitle>

<MudThemeProvider/>
<MudDialogProvider />
<MudSnackbarProvider />    


<MudLayout>
    <MudAppBar Style="@($"color:{Colors.Grey.Lighten5}; background:{Colors.Grey.Darken4};")" Elevation="1">
        <div class="big-screen">
            <MudButton Class="p-0 m-0" Style="@($"color:{Colors.Grey.Lighten5}; background:{Colors.Grey.Darken4}; font-family: 'Eagle Lake', serif; font-size: 20px;")" Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Link="#">Dagonite Empire</MudButton>
        </div>
            <div class="big-screen pa-4 justify-center my-4 mud-text-align-center">
                <MudButton Style="@($"color:{Colors.Grey.Lighten5}; background:{Colors.Grey.Darken4};")" Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Link="/character"> <MudIcon Class="px-1" Icon="@Icons.Material.Filled.PeopleAlt"></MudIcon>Character list</MudButton>
                <MudButton Style="@($"color:{Colors.Grey.Lighten5}; background:{Colors.Grey.Darken4};")" Variant="Variant.Filled" DisableElevation="true"  Color="Color.Primary" Link="/chat"><MudIcon Class="px-1" Icon="@Icons.Material.Filled.Chat"></MudIcon>Chat</MudButton>
            </div>
 
        <div class="small-screen">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerStartToggle())" />
            <MudButton Style="@($"color:{Colors.Grey.Lighten5}; background:{Colors.Grey.Darken4}; font-family: 'Eagle Lake', serif; font-size: 12px; padding: 6px;")" Variant="Variant.Filled" DisableElevation="true" Link="#">Dagonite Empire</MudButton>
        </div>
        <MudSpacer />
        <LoginDisplay />
    </MudAppBar>
    <div class="small-screen">
        <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
            <NavMenu />
        </MudDrawer>
    </div>
    
    <MudContainer MaxWidth="MaxWidth.False" Class="m-0 p-0" Style="overflow:hidden; position:relative;">
        <AuthorizeView>
            <Authorized>
               <Chat></Chat>   
            </Authorized>
            <NotAuthorized>
                    
            </NotAuthorized>
        </AuthorizeView>
    </MudContainer>

    <MudMainContent>
            @Body
    </MudMainContent>
    
</MudLayout>



@code {

    private MudTheme Theme = new MudTheme();


    void DrawerStartToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    bool _drawerOpen = false;

    
    protected override async Task OnInitializedAsync()
    {
        
    }   
}