
@page "/profession/{id:int}"
@using DA_Business.Services.Interfaces
@using DA_DataAccess.CharacterClasses
@inject IJSRuntime _jsruntime
@inject ICharacterRepository _characterRepository
@inject IAttributeRepository _attributeRepository
@inject IProfessionRepository _professionRepository
@inject IEquipmentRepository _equipmentRepository
@inject ISpellRepository _spellRepository
@inject ISpellSlotRepository _spellSlotRepository
@inject ISpellCircleRepository _spellCircleRepository
@inject IDialogService DialogService
@inject NavigationManager _navigationManager
@inject IUserService _userService

@inject IJSRuntime _jsRuntime

<div class="main-table">

    @if (IsLoading)
    {
        <LoadingPage></LoadingPage>
    }
    else
    {

        <label class="warnign-message">@ErrorMessage</label>
        <div class="wide-screen-table">
            <div class="d-flex ">
                <div class="d-flex flex-column px-1 flex-grow-1">
                    <label class="class-section py-1">Class name</label>
                    <SfTextBox Placeholder="Insert class name" @bind-Value="@ProfessionDTO.Name"></SfTextBox>
                </div>
                <div class="d-flex flex-column px-1">
                    <label class="class-section py-1">Related attribute</label>
                    <label class="prof-variables" style="width: 150px;">@ProfessionDTO.RelatedAttributeName</label>
                </div>
                @if (UserInfo?.IsAdminOrMG == true)
                {
                    <div class="d-flex flex-column px-1">
                        <label class="column-section py-1">Class Level</label>
                        <SfNumericTextBox CssClass="e-style" Width="100px" ShowSpinButton="false" @bind-Value="@ProfessionDTO.ClassLevel" OnChange="ChangeProfLevel"></SfNumericTextBox>
                    </div>
                }
                else
                {
                    <div class="d-flex flex-column px-1">
                        <label class="column-section py-1">Class Level</label>
                        <label class="prof-variables">@ProfessionDTO.ClassLevel</label>
                    </div>
                }

                <div class="d-flex flex-column px-1">
                    <label class="column-section py-1">Skill roll</label>
                    <label class="prof-variables">@ProfessionDTO.ProfessionSkillRoll</label>
                </div>
                <div class="d-flex flex-column px-1">
                    <label class="column-section py-1">Focus points</label>
                    <label class="prof-variables">@ProfessionDTO.MaxFocusPoints</label>
                </div>
                @if (UserInfo?.IsAdminOrMG == true)
                {
                    <div class="d-flex flex-column px-1">
                        <label class="class-section py-1">Approve</label>
                        <div class="justify-content-center mx-auto my-auto">
                            <SfCheckBox @bind-Checked="ProfessionDTO.IsApproved"></SfCheckBox>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="short-screen-table">
            <div class="d-flex flex-column ">
                <div class="d-flex">
                    <div class="d-flex flex-column px-1 flex-grow-1">
                        <label class="class-section py-1">Class name</label>
                        <SfTextBox Placeholder="Insert class name" @bind-Value="@ProfessionDTO.Name"></SfTextBox>
                    </div>
                    @if (UserInfo?.IsAdminOrMG == true)
                    {
                        <div class="d-flex flex-column px-1">
                            <label class="class-section py-1">Approve</label>
                            <div class="justify-content-center mx-auto my-auto">
                                <SfCheckBox @bind-Checked="ProfessionDTO.IsApproved"></SfCheckBox>
                            </div>
                        </div>
                    }
                </div>
                <div class="d-flex flex-column px-1">
                    <label class="class-section py-1">Related attribute</label>
                    <label class="prof-variables">@ProfessionDTO.RelatedAttributeName</label>
                </div>
                <div class="d-flex">
                    @if (UserInfo?.IsAdminOrMG == true)
                    {
                        <div class="d-flex flex-column px-1 variables">
                            <label class="column-section py-1">Class Level</label>
                            <SfNumericTextBox ShowSpinButton="false" @bind-Value="@ProfessionDTO.ClassLevel" OnChange="ChangeProfLevel"></SfNumericTextBox>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex flex-column px-1 variables">
                            <label class="column-section py-1">Class Level</label>
                            <label class="prof-variables">@ProfessionDTO.ClassLevel</label>
                        </div>
                    }

                    <div class="d-flex flex-column px-1 variables">
                        <label class="column-section py-1">Skill roll</label>
                        <label class="prof-variables">@ProfessionDTO.ProfessionSkillRoll</label>
                    </div>
                    <div class="d-flex flex-column px-1 variables">
                        <label class="column-section py-1">Focus points</label>
                        <label class="prof-variables">@ProfessionDTO.MaxFocusPoints</label>
                    </div>
                </div>

            </div>

        </div>
        <div class="d-flex flex-column flex-grow-1 mx-1">
            <label class="class-section">Class description</label>
            <SfRichTextEditor Height="300px" @ref="DescrEdit" @bind-Value="@ProfessionDTO.Description">
                <RichTextEditorToolbarSettings Items="@Tools" Type="ToolbarType.MultiRow" />
            </SfRichTextEditor>
        </div>

        <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true" PanelClass="px-2">
            <MudTabPanel Text="Active class skills" Style="font-weight: bold;">
                @*  ACTIVE SKILLS  *@
                <div class="wide-screen-table mx-1">

                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col" class="level-row text-center">Level</th>
                                <th scope="col" class="name-row text-center">Name</th>
                                <th scope="col" class="descr-row text-center">Description</th>
                                <th scope="col" class="number-row text-center">DC</th>
                                <th scope="col" class="number-row text-center">Cost</th>
                                <th scope="col" class="number-row text-center">Range</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var skill in ProfessionDTO.ActiveSkills)
                            {
                                <tr>
                                    @if (skill.Index % 2 == 0)
                                    {
                                        <td rowspan="2"> <label class="short-row">@skill.Level</label> </td>
                                    }
                                    <td> <div class="name-cell"> <SfTextBox Placeholder="Insert skill name" @bind-Value="@skill.Name"></SfTextBox> </div> </td>
                                    <td>
                                        <div class="bonus-double-cell">
                                            <SfTextBox ID="@skill.Index.ToString()" OnChange="@(()=>ChangeDescription(skill.Index))" Multiline=true Placeholder="Insert skill description" @bind-Value="@skill.Description">
                                            </SfTextBox>
                                        </div>
                                    </td>
                                    <td><div class="short-row"><SfNumericTextBox ShowSpinButton="false" @bind-Value="@skill.DC"></SfNumericTextBox></div></td>
                                    <td><div class="short-row"><SfNumericTextBox ShowSpinButton="false" @bind-Value="@skill.Cost"></SfNumericTextBox></div></td>
                                    <td><div class="short-row"><SfTextBox @bind-Value="@skill.Range"></SfTextBox></div></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="short-screen-table mx-1">

                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col" class="level-row text-center">Level</th>
                                <th scope="col" class="name-row text-center">Name</th>
                                <th scope="col" class="number-row text-center">DC</th>
                                <th scope="col" class="number-row text-center">Cost</th>
                                <th scope="col" class="number-row text-center"> Range</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var skill in ProfessionDTO.ActiveSkills)
                            {
                                <tr>
                                    @if (skill.Index % 2 == 0)
                                    {
                                        <td rowspan="4"> <label class="short-row">@skill.Level</label> </td>
                                    }
                                    <td> <div class="name-cell"> <SfTextBox Placeholder="Insert skill name" @bind-Value="@skill.Name"></SfTextBox> </div> </td>

                                    <td><div class="short-row"><SfNumericTextBox ShowSpinButton="false" @bind-Value="@skill.DC"></SfNumericTextBox></div></td>
                                    <td><div class="short-row"><SfNumericTextBox Format="" ShowSpinButton="false" @bind-Value="@skill.Cost"></SfNumericTextBox></div></td>
                                    <td><div class="short-row"><SfTextBox @bind-Value="@skill.Range"></SfTextBox></div></td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <SfTextBox ID="@skill.Index.ToString()" OnChange="@(()=>ChangeDescription(skill.Index))" Multiline=true Placeholder="Insert skill description" @bind-Value="@skill.Description">
                                        </SfTextBox>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </MudTabPanel>
            <MudTabPanel Text="Passive class skills" Style="font-weight: bold;">
                @*  PASSIVE SKILLS  *@

                <div class="wide-screen-table mx-1">

                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col" class="level-row text-center">Level</th>
                                <th scope="col" class="name-row text-center">Name</th>
                                <th scope="col" class="descr-row text-center">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var skill in ProfessionDTO.PassiveSkills)
                            {
                                <tr>
                                    <td> <label class="short-row">@skill.Level</label> </td>
                                    <td> <div class="name-cell"> <SfTextBox Placeholder="Insert skill name" @bind-Value="@skill.Name"></SfTextBox> </div> </td>
                                    <td>
                                        <div class="bonus-double-cell">
                                            <SfTextBox ID="@skill.Index.ToString()" OnChange="@(()=>ChangeDescription(skill.Index))" Multiline=true Placeholder="Insert skill description" @bind-Value="@skill.Description">
                                            </SfTextBox>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="short-screen-table mx-1">

                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col" class="number-row text-center">Level</th>
                                <th scope="col" class="name-row-short text-center">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var skill in ProfessionDTO.PassiveSkills)
                            {
                                <tr>
                                    <td rowspan="2"> <label class="short-row">@skill.Level</label> </td>
                                    <td> <div class="name-cell"> <SfTextBox Placeholder="Insert skill name" @bind-Value="@skill.Name"></SfTextBox> </div> </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <SfTextBox ID="@skill.Index.ToString()" OnChange="@(()=>ChangeDescription(skill.Index))" Multiline=true Placeholder="Insert skill description" @bind-Value="@skill.Description">
                                        </SfTextBox>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </MudTabPanel>
            <MudTabPanel Text="Spells" Disabled="false" Style="font-weight: bold;">
                @*  SPELLS  *@
                <div class="d-flex my-1">
                    <div class="spell-type me-2">
                        <InputSelect @bind-Value="ProfessionDTO.CasterType" class="form-select" @bind-Value:after="SpellcasterTypeHandle">
                            <option checked="@(ProfessionDTO.CasterType == SpellcasterType.Sorcerer)" value="@SpellcasterType.Sorcerer">
                                Sorcerer
                            </option>
                            <option checked="@(ProfessionDTO.CasterType == SpellcasterType.Wizard)" value="@SpellcasterType.Wizard">
                                Wizard
                            </option>
                        </InputSelect>
                    </div>
                    <button disabled="@IsSpellTypeDisabled" class="btn btn-secondary" @onclick="Rest">Rest</button>
                    <button disabled="@IsSpellTypeDisabled" class="btn btn-secondary ms-2" @onclick="AddSpellCircle">Add Circle</button>
                </div>

                 <div class="wide-screen-table">
                    <MudTable RowClass="cell-small" T="SpellCircleDTO" Items="@SpellCircles" Breakpoint="Breakpoint.None" @ref="CircleTable">
                        <HeaderContent>
                            <MudTh Style="text-align:center; width: 60px; padding: 4px; font-size:13px; font-weight:bold;">Level</MudTh>
                            <MudTh Style="text-align:center; width: 60px; padding: 4px; font-size:13px; font-weight:bold;">Known</MudTh>
                            <MudTh Style="text-align:center; width: 60px; padding: 4px; font-size:13px; font-weight:bold;">Today</MudTh>
                            <MudTh Style="text-align:center; padding: 4px;  font-size:13px; font-weight:bold;">Spell slots</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd Style="text-align:center; width: 60px; padding: 4px; font-size:26px; font-weight:bold" DataLabel="Level">@context.Level</MudTd>
                            <MudTd Style="text-align:center; width: 60px; padding: 4px;" DataLabel="Known">@context.KnownSpells</MudTd>
                            <MudTd Style="text-align:center; width: 60px; padding: 4px;" DataLabel="Today">@context.PerDay</MudTd>
                            <MudTd Style="text-align:center; padding: 4px;" DataLabel="Spell slots">
                                <MudTable T="SpellSlot" Items="@context.SpellSlots" Hover="true" Breakpoint="Breakpoint.None">
                                    <RowTemplate Context="slotContext">
                                        @if(slotContext.Spell is not null)
                                        {
                                            <MudTd Style="padding: 4px;" DataLabel="Prepared">
                                                <MudTooltip >
                                                    <ChildContent>
                                                        <MudLink Href="@slotContext.Spell.Link">@slotContext.Spell.Name</MudLink>
                                                    </ChildContent>
                                                    <TooltipContent>
                                                        <MudText Class="mud-tooltip mud-tooltip-default tooltiptext">
                                                            @slotContext.Spell.Description
                                                        </MudText>
                                                    </TooltipContent>
                                                </MudTooltip> 
                                            </MudTd>
                                        }
                                        else
                                        {
                                            <MudTd Style="padding: 4px;" DataLabel="Prepared">Select Spell</MudTd>
                                        }
                                        <MudTd Style="width: 60px; padding: 4px;" DataLabel="ready">
                                        
                                            <MudNumericField Class="dense-numeric-field text-center" IconSize="Size.Small"
                                                             ShrinkLabel="true" Value=@slotContext.Prepared ValueChanged="(int newValue)=>ChangePrepared(slotContext,context,newValue)" Immediate="true"
                                                             For="@(() => slotContext.Prepared)"  />
                                        </MudTd>
                                        <MudTd Style="width: 60px; padding: 4px;" DataLabel="actions">
                                            <div class="d-flex px-0">
                                                @if(slotContext.Spell is not null && string.IsNullOrEmpty(slotContext.Spell.Name) == false){
                                                    <MudIconButton Style="width:30px; height: 30px; padding:1px;" OnClick="@(()=>SaveSpell(slotContext,true))" Icon="@Icons.Material.Filled.Edit" aria-label="Change spell"></MudIconButton>
                                                    <MudIconButton Style="width:30px; height: 30px; padding:1px;"  OnClick="@(()=>DeleteSpell(slotContext))" Icon="@Icons.Material.Filled.Delete" aria-label="Delete spell"></MudIconButton>
                                                }else{
                                                    <MudIconButton Style="width:30px; height: 30px; padding:1px;" OnClick="@(()=>SaveSpell(slotContext,false))" Icon="@Icons.Material.Filled.Add" aria-label="Add new spell"></MudIconButton>
                                                }
                                            </div>
                                        </MudTd>
                                    </RowTemplate>
                                </MudTable>
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </div>
                <div class="short-screen-table">
                    @foreach (var context in @SpellCircles){
                        <MudPaper Class="pa-1 my-1" Elevation="3">

                            <MudSimpleTable Elevation="1" Style="margin-bottom:2px;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; padding: 4px; font-size:13px; font-weight:bold;">Level</th>
                                        <th style="text-align:center; padding: 4px; font-size:13px; font-weight:bold;">Known</th>
                                        <th style="text-align:center; padding: 4px; font-size:13px; font-weight:bold;">Today</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:center; padding: 4px; font-size:22px;font-weight:bold;">@context.Level</td>
                                        <td style="text-align:center; padding: 4px; font-size:16px;font-weight:bold;">@context.KnownSpells</td>
                                        <td style="text-align:center; padding: 4px; font-size:16px;font-weight:bold;">@context.PerDay</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>

                            <MudTable T="SpellSlot" Items="@context.SpellSlots" Hover="true" Breakpoint="Breakpoint.None">
                                <RowTemplate Context="slotContext">
                                    @if (slotContext.Spell is not null)
                                    {
                                        <MudTooltip >
                                            <ChildContent>
                                                <MudTd Style="padding: 4px;" DataLabel="Prepared" >
                                                    <MudLink Href="@slotContext.Spell.Link">@slotContext.Spell.Name</MudLink>
                                                </MudTd>
                                            </ChildContent>
                                            <TooltipContent>
                                                <MudText Class="mud-tooltip mud-tooltip-default tooltiptext">
                                                    @slotContext.Spell.Description
                                                </MudText>
                                            </TooltipContent>
                                        </MudTooltip>
                                    }
                                    else
                                    {
                                        <MudTd Style="padding: 4px;" DataLabel="Prepared">Select Spell</MudTd>
                                    }
                                    <MudTd Style="width: 60px; padding: 4px;" DataLabel="ready">

                                        <MudNumericField Class="dense-numeric-field text-center" IconSize="Size.Small"
                                                         ShrinkLabel="true" Value=@slotContext.Prepared ValueChanged="(int newValue)=>ChangePrepared(slotContext,context,newValue)" Immediate="true"
                                                         For="@(() => slotContext.Prepared)" />
                                    </MudTd>
                                    <MudTd Style="width: 60px; padding: 4px;" DataLabel="actions">
                                        <div class="d-flex px-0">
                                            @if (slotContext.Spell is not null && string.IsNullOrEmpty(slotContext.Spell.Name) == false)
                                            {
                                                <MudIconButton Style="width:30px; height: 30px; padding:1px;" OnClick="@(()=>SaveSpell(slotContext,true))" Icon="@Icons.Material.Filled.Edit" aria-label="Change spell"></MudIconButton>
                                                <MudIconButton Style="width:30px; height: 30px; padding:1px;" OnClick="@(()=>DeleteSpell(slotContext))" Icon="@Icons.Material.Filled.Delete" aria-label="Delete spell"></MudIconButton>
                                            }
                                            else
                                            {
                                                <MudIconButton Style="width:30px; height: 30px; padding:1px;" OnClick="@(()=>SaveSpell(slotContext,false))" Icon="@Icons.Material.Filled.Add" aria-label="Add new spell"></MudIconButton>
                                            }
                                        </div>
                                    </MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudPaper>
                    }
                </div>
               
            </MudTabPanel>
        </MudTabs>

        <label class="warnign-message">@ErrorMessage</label>
        <div class="d-flex mt-2">
            <button @onclick="OnSaveChangesBtnClick" class="btn btn-primary mx-2">Save</button>
            <button @onclick="OnCancelBtnClick" class="btn btn-secondary mx-2">Cancel</button>
        </div>
    }
</div>

           
<style>
    .dense-numeric-field .mud-input-control-input-container .mud-input-underline {
        margin-top: 0px !important;
    }
    .mud-input-control {
        margin-top: 0px !important;
    }

    .e-numeric.e-style .e-control.e-numerictextbox {
      
        padding: 2px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        display: block;
        text-align: center;
        position: absolute;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>


@code {


        [Parameter]
        public int Id { get; set; }
    public int AvalibleSpells { get; set; } = 0;
    public ProfessionDTO ProfessionDTO { get; set; } = new();
    private AllParamsModel AllParams { get; set; } = new();
    private SfRichTextEditor DescrEdit = new SfRichTextEditor();
    private ICollection<SpellCircleDTO> SpellCircles = new List<SpellCircleDTO>();
    private MudTable<SpellCircleDTO> CircleTable;

    public UserInfo? UserInfo { get; set; }

    private MudTable<SpellCircle> mudTable;


    protected override async Task OnInitializedAsync()
    {
        UserInfo = await _userService.GetUserInfo();
        if (UserInfo?.IsAuthenticated == false)
        {
            var uri = new Uri(_navigationManager.Uri);
            _navigationManager.NavigateTo($"/identity/account/login?returnUrl={uri.LocalPath}", forceLoad: true);
        }

        ReadOnly = (UserInfo?.IsAdminOrMG == false);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                IsLoading = true;

                StateHasChanged();

                await LoadCharacter();

                IsLoading = false;
                StateHasChanged();
            }
            catch (Exception ex)
            {
                IsLoading = false;
                await _jsruntime.ToastrError("Error while initialize: " + ex.ToString());
            }
        }
    }

    private async Task LoadCharacter()
    {
        try{

            AllParams.Character = await _characterRepository.GetById(Id);
            AllParams.Attributes = await _attributeRepository.GetAll(Id);
            //AllParams.Profession = await _professionRepository.GetById(AllParams.Character.ProfessionId);

            ProfessionDTO = await _professionRepository.GetById(AllParams.Character.ProfessionId);
            if(ProfessionDTO.SpellCircles is not null)
            {
                SpellCircles = ProfessionDTO.SpellCircles;
            }


            if (string.IsNullOrEmpty(ProfessionDTO.RelatedAttributeName))
                throw new Exception("No related class attribute");

            if (ProfessionDTO.CasterType != SpellcasterType.None)
                IsSpellTypeDisabled = false;

            ProfessionDTO.CalculateClassParams(AllParams.Attributes);
        }
        catch(Exception ex)
        {
            IsLoading = false;
            await _jsRuntime.ToastrError("Error while initialize: " + ex.ToString());
        }
    }

    private string ErrorMessage { get; set; } = string.Empty;
    private bool IsLoading { get; set; } = true;
    private bool IsSpellTypeDisabled { get; set; } = true;
    public bool ReadOnly { get; set; } = false;

    public IEditorSettings EditParams = new NumericEditCellParams
    {
        Params = new NumericTextBoxModel<object>() { ShowClearButton = true, ShowSpinButton = false }
    };

    private List<ToolbarItemModel> Tools = new List<ToolbarItemModel>()
    {
        new ToolbarItemModel() { Command = ToolbarCommand.Bold },
        new ToolbarItemModel() { Command = ToolbarCommand.Italic },
        new ToolbarItemModel() { Command = ToolbarCommand.Underline },
        new ToolbarItemModel() { Command = ToolbarCommand.StrikeThrough },
        new ToolbarItemModel() { Command = ToolbarCommand.CreateLink },
        new ToolbarItemModel() { Command = ToolbarCommand.FullScreen },
    };
    public void ChangeDescription(uint args)
    {
        //pass ID(column name) of multiline textbox
        _jsruntime.InvokeVoidAsync("ResizeTextArea", $"{args}");
    }
    private async Task OnSaveChangesBtnClick()
    {
        try
        {
            if (string.IsNullOrEmpty(ProfessionDTO.Name) || string.IsNullOrEmpty(ProfessionDTO.Description))
            {
                throw new WarningException("Create name and description of class");
            }
            if (string.IsNullOrEmpty(ProfessionDTO.RelatedAttributeName))
            {
                throw new WarningException("Choose class related attribute");
            }

            // await _spellCircleRepository.Update()
            ProfessionDTO.SpellCircles = SpellCircles;

            await _professionRepository.Update(ProfessionDTO);

            _navigationManager.NavigateTo("#");
            ErrorMessage = string.Empty;
        }
        catch (WarningException ex)
        {
            IsLoading = false;
            await _jsRuntime.ToastrWarning(ex.ToString());
        }
        catch (Exception ex)
        {
            IsLoading = false;
            await _jsRuntime.ToastrError("Error while initialize: " + ex.ToString());
        }
    }
    private async Task OnCancelBtnClick()
    {
        _navigationManager.NavigateTo("#");
    }

    private async Task ChangeProfLevel()
    {
        try
        {
            ProfessionDTO.CalculateClassParams(AllParams.Attributes);
            StateHasChanged();
        }
        catch (WarningException ex)
        {
            IsLoading = false;
            await _jsRuntime.ToastrWarning(ex.ToString());
        }
        catch (Exception ex)
        {
            IsLoading = false;
            await _jsRuntime.ToastrError("Error while initialize: " + ex.ToString());
        }
    }

    private async Task ChangeRelatedAttribute(string attrName)
    {
        try
        {
            if (attrName != null && attrName != "0")
            {
                ProfessionDTO.RelatedAttributeName = attrName;
                ProfessionDTO.RelatedAttribute = AllParams.Attributes[attrName];
            ProfessionDTO.CalculateClassParams(AllParams.Attributes);
                StateHasChanged();
                return;
            }
        }
        catch(WarningException ex){
            IsLoading = false;
            await _jsRuntime.ToastrWarning(ex.ToString());
        }
        catch (Exception ex)
        {
            IsLoading = false;
            await _jsRuntime.ToastrError("Error while initialize: " + ex.ToString());
        }
    }

    private async Task AddSpellCircle()
    {
        try{
            int newLevel = SpellCircles.Count();
            if (newLevel > 9)
                throw new WarningException("Max spell circle level reached");
            SpellCircleDTO circle = new();
            circle.ProfessionId = ProfessionDTO.Id;
            circle.Profession = ProfessionDTO;
            circle.Level = newLevel;
            circle.CalculateSpells();

            SpellCircles.Add(circle);
            StateHasChanged();
        } 
        catch(WarningException ex){
            IsLoading = false;
            await _jsRuntime.ToastrWarning(ex.ToString());
        }
        catch (Exception ex)
        {
            IsLoading = false;
            await _jsRuntime.ToastrError("Error while initialize: " + ex.ToString());
        }
    }

    private async Task SpellcasterTypeHandle()
    {
        IsSpellTypeDisabled = false;

        await Rest();
    }

    private async Task Rest()
    {
        if (ProfessionDTO.CasterType != SpellcasterType.None)
        {
            if (ProfessionDTO.SpellCircles is not null)
            {

                foreach (var circle in ProfessionDTO.SpellCircles)
                {
                    circle.CalculateSpells();
                    if (circle.SpellSlots is not null)
                    {
                        foreach (var slot in circle.SpellSlots)
                        {
                            if (ProfessionDTO.CasterType == SpellcasterType.Sorcerer)
                            {
                                slot.Prepared = circle.PerDay;
                            }
                            else
                            {
                                slot.Prepared = 0;
                            }
                        }
                    }
                }
            }
        }
    }

    private async Task SaveSpell(SpellSlot? spellSlot, bool isEdit)
    {
        if (spellSlot is null)
            return;

        Spell spell = new();
        spell.Level = spellSlot.SpellCircle != null ? spellSlot.SpellCircle.Level : 0;
        if (isEdit && spellSlot.Spell is not null)
        {
            spell.Id = spellSlot.Spell.Id;
            spell.Level = spellSlot.Spell.Level;
            spell.Description = spellSlot.Spell.Description;
            spell.Link = spellSlot.Spell.Link;
            spell.Name = spellSlot.Spell.Name;
            spell.IsApproved = spellSlot.Spell.IsApproved;
        }
        var parameters = new DialogParameters<SpellDialog> { { x => x.Spell, spell }, { x => x.IsEdit, isEdit } };
        var dialog = await DialogService.ShowAsync<SpellDialog>("Edit spell", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            spellSlot.Spell = (Spell)result.Data;
            //spellSlot.SpellId = spellSlot.Spell.Id;
            if (spellSlot.Spell.Id > 0)
            {

                spellSlot.SpellId = spellSlot.Spell.Id;
                //spellSlot.Spell = null;
            }else{
                spellSlot.SpellId = spellSlot.Spell.Id;
            }
            StateHasChanged();
        }
    }

    public void ChangePrepared(SpellSlot slot, SpellCircleDTO circle, int newValue) // your model.Amt type
    {

        int allPreparedSpells = 0;
        //FOR WIZZARD 
        if (ProfessionDTO.CasterType == SpellcasterType.Wizard)
        {
            if(circle.SpellSlots is not null){
                foreach(var s in circle.SpellSlots)
                {
                    allPreparedSpells += s.Prepared;
                }
            }
            //adding
            if (slot.Prepared < newValue)
            {
                if (circle.PerDay - allPreparedSpells > 0)
                {
                    slot.Prepared = newValue;
                }

            }
            //refracting
            if (slot.Prepared > newValue && slot.Prepared > 0 )
            {
                slot.Prepared = newValue;
            }
        }
        else if (ProfessionDTO.CasterType == SpellcasterType.Sorcerer)
        {
            allPreparedSpells = slot.Prepared;
            //adding
            if (slot.Prepared < newValue)
            {
                if (circle.PerDay - allPreparedSpells > 0)
                {
                    slot.Prepared = newValue;
                }

            }
            //refracting
            if (slot.Prepared > newValue && slot.Prepared > 0)
            {
                slot.Prepared = newValue;
            }
            if (circle.SpellSlots is not null)
            {
                foreach (var s in circle.SpellSlots)
                {
                    s.Prepared = slot.Prepared;
                }
            }
        }

    }

    private void DeleteSpell(SpellSlot spellSlot)
    {
        spellSlot.Spell = null;
        spellSlot.SpellId = null;

        StateHasChanged();
    }
}
